/*============== contact_area css ================*/
#map{
    height: 400px;
    width: 800px;
    margin-bottom: 80px;
}
.contact_info{
    .info_item{
        position: relative;
        padding-left: 45px;
        i{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 20px;
            line-height: 24px;
            color: $baseColor;
            font-weight: 600;
        }
        h6{
            font-size: 16px;
            line-height: 24px;
            color: $rob;
            font-weight: bold;
            margin-bottom: 0px;
			color: $dip;
            a{
                color: $dip;
            }
        }
        p{
            font-size: 14px;
            line-height: 24px;
            padding: 2px 0px;
        }
    }
}
.contact_form{
    .form-group{
        margin-bottom: 10px;
        .form-control{
            font-size: 13px;
            line-height: 26px;
            color: #999;
            border: 1px solid #eeeeee;
            font-family: $rob;
            border-radius: 0px;
            padding-left: 20px;
            &:focus{
                box-shadow: none;
                outline: none;
            }
            @include placeholder{
                color: #999;
            }
        }
        textarea{
			resize: none;
            &.form-control{
                height: 100%;
            }
        }
    }
    .submit_btn{
        margin-top: 20px;
        cursor: pointer;
    }
}